body {
  background-color: #009D81;
  position: relative;
  font-family: 'Nova Mono', sans-serif;
  color: #FFFFFF;
}

main {
  position: absolute;
  bottom: -60px;
  left: 20px;
  margin-left: 400px;
}

.howToPlay {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

h2 {
  font-size: 32px;
  /* padding: 0 0 0 50px; */
  text-align: center;
  margin: 0;
}

p {
  padding-left: 63px;
  margin: 0 1px;;
}
